@import "variables";

.name-input-container {
    display: grid;
    padding: 0.5em;
}

.input-label {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    padding-bottom: 0.3em;
}

.name-input {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 20.5em;
    background-color: transparent;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    padding: 1em;
}

.name-input:hover {
    border-color: $main-blue;
}

.wrong-input {
    border-color: red;
}

.correct {
    border-color: green;
}
