<div class="main-container">
    <div class="posts-container">
        <div class="writing-container">
            <app-user-icon></app-user-icon>

            <app-text-input [windowWidth]="'26em'" #postTextInput></app-text-input>
        </div>

        <mat-divider></mat-divider>

        <app-post-button-bar (createEvent)="createNewPost()"></app-post-button-bar>
    </div>

    <app-post *ngFor="let post of posts"
              [postData]="post"
              [currentUser]="currentUser"
              (deleteEvent)="deletePostFromList($event)"
              (updateFriendListEvent)="updateFriendList()"
    >
    </app-post>

    <div (click)="loadNewPosts()" *ngIf="posts.length !== 0 && !isAllLoaded" class="load-more">Load more posts</div>

    <div class="no-posts" *ngIf="posts.length === 0">No posts found yet</div>
</div>
