<div class="posts-container">
    <div class="writing-container">
        <app-user-icon></app-user-icon>

        <app-text-input [windowWidth]="'26em'"></app-text-input>
    </div>

    <mat-divider></mat-divider>

    <app-post-button-bar (createEvent)="createNewPost()"></app-post-button-bar>
</div>

<app-post (deleteEvent)="deletePostFromList($event)"
          (updateFriendListEvent)="updateFriendList()"
          *ngFor="let post of posts"
          [currentUser]="currentUser"
          [postData]="post"
>
</app-post>

<div (click)="loadNewPosts()" *ngIf="posts.length !== 0 && !isAllLoaded" class="load-more">Load more posts</div>

<div *ngIf="posts.length === 0" class="no-posts">No posts found yet</div>
