<div class="posts-container">
    <div class="writing-container">
        <app-user-icon></app-user-icon>

        <app-text-input></app-text-input>
    </div>

    <mat-divider></mat-divider>

    <app-post-button-bar></app-post-button-bar>
</div>

<app-post *ngFor="let post of posts"
          [numOfComments]="post.numOfComments"
          [numOfLikes]="post.numOfLikes"
          [postLocation]="post.postLocation"
          [postAuthor]="post.postAuthor"
          [postContent]="post.postContent"
          [postDate]="post.postDate"
          [postId]="post.postId"
>
</app-post>
