$upper-navbar-color: #191819;
$input-background-color: #2c2d2c;

@mixin content-field {
    border: 2px white solid;
    background-color: $upper-navbar-color;
    border-radius: 1em;
    padding: 1em;
    width: 30em;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.posts-container {
    @include content-field;
    margin-bottom: 2em;
    width: 35em;
}

.writing-container {
    display: flex;
    align-items: center;
    gap: 2.5em;
    margin-bottom: 1em;
}

.post-create-bar {
    @include flex-center;
    gap: 1.5em;
}
