$upper-navbar-color: #191819;
$input-background-color: #2c2d2c;

@mixin content-field {
    border: 1px #eeeee4 solid;
    background-color: $upper-navbar-color;
    border-radius: 1em;
    padding: 1em;
    width: 30em;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.posts-container {
    @include content-field;
    margin-bottom: 2em;
    width: 35em;
}

app-user-icon {
    margin-bottom: 1.5em;
}

.writing-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.post-create-bar {
    @include flex-center;
    gap: 1.5em;
}

.no-posts {
    @include flex-center;
    @include content-field;
    width: 35em;
}

.load-more {
    @include content-field;
    @include flex-center;
    width: 35em;
    margin-bottom: 2em;
}

.load-more:hover {
    background-color: $input-background-color;
}

.load-more:active {
    background-color: #565756;
}
