@import "variables";

.counter-container {
    display: flex;
    justify-content: flex-end;
}

.post-input {
    background-color: $input-background-color;
    padding: 1em;
    width: 24em;
    height: 4em;
    border-radius: 1em;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
