$input-background-color: #2c2d2c;

.counter-container {
    display: flex;
    justify-content: flex-end;
}

.post-input {
    background-color: $input-background-color;
    padding: 1em;
    width: 24em;
    height: 4em;
    border-radius: 1em;
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.post-input:hover {
    background-color: #565756;
}

.post-input:active {
    background-color: #414241;
}
