<div class="just-background">
    <app-social-navbar [isOnHomeSite]="true"
                       (searchEvent)="navigateToSearch()"
                       (columnEvent)="hideColumn()"
                       class="sticky-navbar">
    </app-social-navbar>

    <main class="flex-container">
        <div class="grid-container">
            <app-home-profile *ngIf="!areFriendsVisible || areAllVisible" class="sticky-element"></app-home-profile>

            <app-home-posts (updateFriendListEvent)="updateFriendList()"></app-home-posts>

            <app-home-friends [friendList]="friendList"
                              *ngIf="areFriendsVisible || areAllVisible"
                              class="sticky-element">
            </app-home-friends>
        </div>
    </main>
</div>
