$upper-navbar-color: #191819;
$main-background-color: #0a0b0a;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin position-sticky {
    position: sticky;
    align-self: start;
}

@mixin navbar-background {
    background-color: $upper-navbar-color;
}

@mixin grid-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    margin-top: 3em;
}

.just-background {
    background-color: $main-background-color;
    position: fixed;
    color: white;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.logo-background {
    @include navbar-background;
}

.grid-container {
    @include grid-three-columns;
    gap: 2em;
}

.flex-container {
    @include flex-center;
}

.sticky-navbar {
    @include position-sticky;
    top: 0;
    z-index: 1000;
}

.sticky-element {
    @include position-sticky;
    top: 8em;
}

@media screen and (max-width: 1169px){
    .grid-container {
        grid-template-columns: repeat(2, 0.5fr);
        gap: 1em;
    }
}
