<div class="just-background">
    <app-social-navbar (columnEvent)="hideColumn($event)"
                       (searchEvent)="navigateToSearch()"
                       [isOnHomeSite]="true"
                       class="sticky-navbar">
    </app-social-navbar>

    <main class="flex-container">
        <div class="grid-container">
            <app-home-profile *ngIf="areAllVisible || currentColumn === 0"
                              class="sticky-element">
            </app-home-profile>

            <app-home-posts (updateFriendListEvent)="updateFriendList()"
                            *ngIf="areAllVisible || currentColumn === 1 || isDoubleColumnGrid">
            </app-home-posts>

            <app-home-friends *ngIf="areAllVisible || currentColumn === 2"
                              [friendList]="friendList"
                              class="sticky-element">
            </app-home-friends>
        </div>
    </main>
</div>
