<div class="posts-container">
    <div class="separator-container">
        <div class="username-container">
            <app-user-icon></app-user-icon>

            <div class="name-location-container">
                <div>{{ postAuthor }}</div>

                <div class="location-text">{{ postDate }}</div>
            </div>
        </div>

        <app-add-friend-icon (click)="updateFriendStatus()"
                             *ngIf="!isFriendAdded && username !== currentUser">
        </app-add-friend-icon>

        <app-remove-friend-icon (click)="updateFriendStatus()"
                                *ngIf="isFriendAdded && username !== currentUser">
        </app-remove-friend-icon>
    </div>

    <div class="post-content">
        {{ postContent }}
    </div>

    <div class="separator-container">
        <div class="statistics-icons">
            <div class="vote-container">
                <app-like-icon (click)="updatePostLike()" [isPostLiked]="isPostLiked"></app-like-icon>

                <div>{{ numOfLikes }}</div>
            </div>

            <div class="vote-container">
                <app-comment-icon></app-comment-icon>

                <div>{{ numOfComments }}</div>
            </div>
        </div>

        <app-share-icon></app-share-icon>
    </div>
</div>
