@import "mixins";

.posts-container {
    @include content-field;
    margin-bottom: 2em;
    width: 35em;
}

.username-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.name-location-container {
    display: grid;
    gap: 0.3em;
}

.location-text {
    font-size: 10px;
}

.statistics-icons {
    display: flex;
    gap: 1em;
}

.separator-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-content {
    margin: 1em;
}

.vote-container {
    @include flex-center;
    gap: 0.5em;
}

.divider {
    margin-bottom: 1em;
    margin-top: 1em;
}

@media screen and (max-width: 1250px) {
    .posts-container {
        width: 30em;
    }
}

@media screen and (max-width: 800px) {
    .posts-container {
        width: 25em;
    }
}

