<div class="posts-container">
    <div class="separator-container">
        <div class="username-container">
            <app-user-icon></app-user-icon>

            <div class="name-location-container">
                <div>{{ postData.postAuthor }}</div>

                <div class="location-text">{{ postData.postDate }}</div>
            </div>
        </div>

        <app-delete-icon *ngIf="currentUser === postData.username"
                         (click)="removePost()">

        </app-delete-icon>

        <app-add-friend-icon *ngIf="!postData.isUserInFriends && postData.username !== currentUser"
                             (click)="updateFriendStatus()">
        </app-add-friend-icon>

        <app-remove-friend-icon *ngIf="postData.isUserInFriends && postData.username !== currentUser"
                                (click)="updateFriendStatus()">
        </app-remove-friend-icon>
    </div>

    <div class="post-content">
        {{ postData.postContent }}
    </div>

    <div class="separator-container">
        <div class="statistics-icons">
            <div class="vote-container">
                <app-like-icon (click)="updatePostLike()" [isPostLiked]="postData.isPostLiked"></app-like-icon>

                <div>{{ postData.numOfLikes }}</div>
            </div>

            <div class="vote-container">
                <app-comment-icon></app-comment-icon>

                <div>{{ postData.numOfComments }}</div>
            </div>
        </div>

        <app-share-icon></app-share-icon>
    </div>
</div>
