<div class="user-container">
    <div class="username-container">
        <app-user-icon></app-user-icon>

        <div class="name-friends-container">
            <div>Users Name</div>

            <div class="friends-counter">10 friends</div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="location-work-container">
        <div class="separator-container">
            <div class="icon-text-container">
                <app-location-icon></app-location-icon>

                <div>Warsaw, Poland</div>
            </div>

            <app-edit-icon></app-edit-icon>
        </div>

        <div class="separator-container">
            <div class="icon-text-container">
                <app-work-icon></app-work-icon>

                <div>Work position at company</div>
            </div>

            <app-edit-icon></app-edit-icon>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="social-container">
        <div class="separator-container">
            <div class="icon-text-container">
                <a><app-twitter-icon></app-twitter-icon></a>

                <div>Twitter profile</div>
            </div>

            <app-edit-icon></app-edit-icon>
        </div>

        <div class="separator-container">
            <div class="icon-text-container">
                <a><app-linked-in-icon></app-linked-in-icon></a>

                <div>LinkedIn profile</div>
            </div>

            <app-edit-icon></app-edit-icon>
        </div>

        <div class="separator-container">
            <div class="icon-text-container">
                <a><app-github-icon></app-github-icon></a>

                <div>Github profile</div>
            </div>

            <app-edit-icon></app-edit-icon>
        </div>
    </div>
</div>
