<div class="user-container">
    <div class="username-container">
        <app-user-icon></app-user-icon>

        <div class="name-friends-container">
            <div>{{ fullName }}</div>

            <div class="friends-counter">{{ numOfFriends }} Friends</div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="location-work-container">
        <div class="separator-container">
            <div class="icon-text-container">
                <app-location-icon></app-location-icon>

                <app-social-link [socialSiteName]="SocialNames.JOB_PROFILE"
                                 [socialLink]="userLocation"></app-social-link>
            </div>

            <app-edit-icon (click)="openDialog(SocialNames.JOB_DIALOG, HomeApiCalls.UPDATE_JOB)"></app-edit-icon>
        </div>

        <div class="separator-container">
            <div class="icon-text-container">
                <app-work-icon></app-work-icon>

                <app-social-link [socialSiteName]="SocialNames.LOCATION_PROFILE" [socialLink]="job"></app-social-link>
            </div>

            <app-edit-icon
                (click)="openDialog(SocialNames.LOCATION_DIALOG, HomeApiCalls.UPDATE_LOCATION)"></app-edit-icon>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="social-container">
        <div class="separator-container">
            <div class="icon-text-container">
                <a *ngIf="twitter !== ''" [attr.href]="twitter" target="_blank">
                    <app-twitter-icon></app-twitter-icon>
                </a>

                <app-twitter-icon *ngIf="twitter === ''"></app-twitter-icon>

                <app-social-link [socialSiteName]="SocialNames.TWITTER_PROFILE"
                                 [socialLink]="twitter"></app-social-link>
            </div>

            <app-edit-icon (click)="openDialog(SocialNames.TWITTER_DIALOG, HomeApiCalls.UPDATE_TWITTER)">
            </app-edit-icon>
        </div>

        <div class="separator-container">
            <div class="icon-text-container">
                <a *ngIf="linkedin !== ''" [attr.href]="linkedin" target="_blank">
                    <app-linked-in-icon></app-linked-in-icon>
                </a>

                <app-linked-in-icon *ngIf="linkedin === ''"></app-linked-in-icon>

                <app-social-link [socialSiteName]="SocialNames.LINKEDIN_PROFILE"
                                 [socialLink]="linkedin"></app-social-link>
            </div>

            <app-edit-icon
                (click)="openDialog(SocialNames.LINKEDIN_DIALOG, HomeApiCalls.UPDATE_LINKEDIN)"></app-edit-icon>
        </div>

        <div class="separator-container">
            <div class="icon-text-container">
                <a *ngIf="github !== ''" [attr.href]="github" target="_blank">
                    <app-github-icon></app-github-icon>
                </a>

                <app-github-icon *ngIf="github === ''"></app-github-icon>

                <app-social-link [socialSiteName]="SocialNames.GITHUB_PROFILE" [socialLink]="github"></app-social-link>
            </div>

            <app-edit-icon (click)="openDialog(SocialNames.GITHUB_DIALOG, HomeApiCalls.UPDATE_GITHUB)"></app-edit-icon>
        </div>
    </div>
</div>
