<nav class="navbar-container">
    <app-logo (click)="navigateToUrl()" class="logo-background"></app-logo>

    <div class="search-bar">
        <input [(ngModel)]="searchValue" class="search-input" id="search-input" placeholder="Search Social365" type="search">

        <app-search-icon (click)="searchForUser()"></app-search-icon>
    </div>

    <div class="icon-bar">
        <app-chat-icon class="icon"></app-chat-icon>

        <app-notify-icon class="icon"></app-notify-icon>

        <app-settings-icon class="icon"></app-settings-icon>

        <app-logout-icon class="icon" (click)="logoutUserFromSite()"></app-logout-icon>

        <app-menu-icon (click)="toggleMenu()" class="menu"></app-menu-icon>

        <div class="dropdown" *ngIf="!isMenuVisible">
            <div class="option">Messages</div>

            <div class="option">Notifications</div>

            <div class="option">Settings</div>

            <div (click)="logoutUserFromSite()" class="option">Logout</div>

            <div (click)="changeColumn(2)" *ngIf="isOnHomeSite" class="option">Show friends</div>

            <div (click)="changeColumn(0)" *ngIf="isOnHomeSite" class="option">Show users details</div>

            <div (click)="changeColumn(1)" *ngIf="isOnHomeSite && isOneColumnOnly" class="option">Show posts</div>
        </div>
    </div>
</nav>
