.email-container {
    display: flex;
    flex-direction: column;
}

.email {
    width: 44em;
    padding: 10px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 0.5em;
}
