.email-container {
    display: flex;
    flex-direction: column;
}

.email {
    width: 20.5em;
    padding: 1em;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 0.5em;
    color: white;
}

.email:hover {
    border-color: aqua;
}

.wrong-mail {
    border-color: red;
}

.correct-mail {
    border-color: green;
}
