$main-blue: aqua;
$border-width: 2px;
$main-font-color: white;
$border-radius: 1em;

@mixin page-size {
    width: 100vw;
    height: 100vh;
}

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-screen {
    background-image: url("../../../../assets/eternity.png");
    color: white;
    @include page-size;
}

.sign-h1 {
    font-weight: bold;
}

.passwords {
    display: flex;
    align-items: center;
    gap: 1em;
}

.lawyer-speech {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.register-container {
    display: flex;
    flex-direction: column;
    min-width: 50em;
    max-width: 50em;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    border: $border-width $main-blue solid;
    border-radius: 1em;
    padding: 2em;
}

.logo-block {
    padding-left: 1em;
    padding-top: 1em;
}

.link-pointer {
    cursor: pointer;
}

.submit-button {
    width: 10em;
    padding: 1em;
    background-color: transparent;
    color: $main-font-color;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    font-family: 'Poppins', sans-serif;
}

.submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: $border-width rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

.submit-button:active {
    background-color: $main-blue;
    opacity: 0.5;
    color: black;
}

.name-inputs {
    display: flex;
    padding-bottom: 1.5em;
    gap: 5em;
}

.email-date-inputs {
    display: flex;
}
