<main class="main-screen">
    <div class="logo-block">
        <app-logo class="link-pointer" routerLink="/auth/login"></app-logo>
    </div>

    <div class="register-container">
        <div class="sign-headers">
            <h1 class="sign-h1">Sign Up</h1>

            <p class="fine-agenda">It's quick and easy</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="makeRedirection()">
            <div formGroupName="nameInputs" class="name-inputs">
                <app-name-input formControlName="firstName"
                                [nameControl]="controlProvider.nameControl"
                                [name]="'name'">
                </app-name-input>

                <app-name-input formControlName="lastName"
                                [nameControl]="controlProvider.surnameControl"
                                [name]="'surname'">
                </app-name-input>
            </div>

            <div formGroupName="emailDateInputs" class="email-date-inputs">
                <app-email-field formControlName="email"
                                 [emailControl]="controlProvider.emailControl">
                </app-email-field>

                <app-date formControlName="date"
                          [dateControl]="controlProvider.dateControl">
                </app-date>
            </div>

            <div formGroupName="passwordInputs" class="passwords">
                <app-password-field formControlName="userPassword"
                                    [passwordControl]="controlProvider.passwordControl"
                                    [password]="'Enter your password'">
                </app-password-field>

                <app-password-field formControlName="repeatPassword"
                                    [passwordControl]="controlProvider.repeatPasswordControl"
                                    [password]="'Repeat your password'">
                </app-password-field>
            </div>

            <p class="lawyer-speech">
                At Social365, we take your privacy seriously. When you register for our social media platform,
                we collect certain information from you in order to provide you with a personalized experience.
                This privacy policy explains what information we collect, how we use it, and how we protect your data.
                By clicking Sing Up button you accept to out privacy policy and terms of use.
            </p>

            <div class="button-box">
                <button [disabled]="registerForm.invalid" class="submit-button">Sign Up</button>
            </div>

            <p>Real time data : {{ registerForm.value | json }}</p>
            <p>You form status is : {{ registerForm.status }} </p>
        </form>
    </div>
</main>
