<section>
    <h1>Sign Up</h1>

    <p>It's quick and easy</p>
</section>

<section>
    <div>
        <!--   Here will be last and first name     -->
    </div>

    <app-email-field></app-email-field>
    <app-password-field [message]="'Enter your password'"></app-password-field>
    <app-password-field [message]="'Repeat your password'"></app-password-field>

    <div>
        <!--    Here will be birthday date inputs    -->
    </div>

    <div>
        <!--    Here will be Gender choice    -->
    </div>

    <p>
        At Social<span>365</span>, we take your privacy seriously. When you register for our social media platform,
        we collect certain information from you in order to provide you with a personalized experience.
        This privacy policy explains what information we collect, how we use it, and how we protect your data.
    </p>

    <div>
        <!--   Here will be sign up button     -->
        <button>Sign Up</button>
    </div>
</section>
