@import "../../../../styles/social-mixins";

.main-screen {
    background-image: url("../../../../assets/eternity.png");
    color: white;
    @include page-size;
}

.sign-h1 {
    font-weight: bold;
}

.lawyer-speech {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.8em;
    padding: 1em;
    margin-bottom: 0;
}

.register-container {
    display: grid;
    max-width: 50em;
    margin: 10em auto 0;
    border: $border-width $main-blue solid;
    border-radius: 1em;
    padding: 2em;
}

.fine-agenda {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

.logo-block {
    padding-left: 1em;
    padding-top: 1em;
}

.link-pointer {
    cursor: pointer;
}

.sign-headers {
    padding: 0.5em;
}

.submit-button {
    width: 10em;
    background-color: transparent;
    color: $main-font-color;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    font-family: 'Poppins', sans-serif;
    padding: 1em;
}

.submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: $border-width rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

.submit-button:active {
    background-color: $main-blue;
    opacity: 0.5;
    color: black;
}

.inputs {
    @include flex-gap;
}

.button-box {
    padding: 0.5em;
}

.invalid-form {
    border-color: red;
}

@media screen and (max-width: 762px) {
    .register-container {
        padding: 1em;
        max-width: 42em;
    }

    .inputs {
        gap: 1em
    }

    .lawyer-speech {
        max-width: 42em;
    }
}

@media screen and (max-width: 600px) {
    .register-container {
        max-width: 33em;
    }

    .inputs {
        gap: 0.2em;
    }
}

@media screen and (max-width: 492px) {
    .logo-block {
        @include flex-center;
    }

    .register-container {
        margin-top: 0.2em;
        max-width: 28em;
        padding: 0.5em;
    }

    .lawyer-speech {
        font-size: 0.6em;
    }

    .submit-button {
        padding: 0.5em;
    }
}

@media screen and (max-width: 403px) {
    .inputs {
        flex-direction: column;
    }

    .register-container {
        max-width: 18em;
    }
}
