.clicked-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f3845;
    width: 3em;
    border-radius: 45%;
    height: 3em;
    cursor: pointer;
    transition: border-radius 0.2s ease-in-out;
}

.clicked-icon-container:hover {
    background-color: #306a72;
    border-radius: 35%;
}

.clicked-icon-container:active {
    background-color: #2596be;
}

