<section class="up-bar">
    <app-logo></app-logo>

    <h2 class="agenda">
        Connections made easier
    </h2>
</section>

<form class="login-block">
    <h1 class="title">Login</h1>

    <app-email-field></app-email-field>

    <app-password-field [password]="'Enter your password'" ></app-password-field>

    <div class="forgot-block">
        <div class="line"></div>

        <a class="forgot-password" href="">I forgot my password</a>

        <div class="line"></div>
    </div>

    <div class="buttons">
        <button routerLink="/auth/register" class="submit-button">Register Now</button>
        <button class="submit-button">Login</button>
    </div>
</form>
