:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logo {
    letter-spacing: 0.2em;
    font-weight: bold;
}

.numbers {
    color: aqua;
}

.agenda {
    max-width: 30em;
}

.login-block {
    margin-left: 2em;
    padding: 2em;
    border: 1px solid;
    border-radius: 1em;
}

.line {
    height: 1px;
    width: 25%;
    background-color: black;
}

.forgot-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.forgot-password {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
}

.button1 {
    width: 10em;
}
