<section class="up-bar">
    <app-logo></app-logo>

    <h2 class="agenda">
        Connections made easier
    </h2>
</section>

<form (ngSubmit)="authenticateUser()" [formGroup]="loginForm" class="login-block">
    <h1 class="title">Login</h1>

    <app-email-field [emailControl]="controlProvider.emailControl"
                     [wasSubmitClicked]="wasSubmitClicked"
                     formControlName="email"
    >
    </app-email-field>

    <app-password-field [passwordControl]="controlProvider.passwordControl"
                        [password]="'Enter your password'"
                        [wasSubmitClicked]="wasSubmitClicked"
                        formControlName="password"
    >
    </app-password-field>

    <div class="forgot-block">
        <div class="line"></div>

        <a class="forgot-password" href="">I forgot my password</a>

        <div class="line"></div>
    </div>

    <div class="buttons">
        <button class="submit-button" routerLink="/auth/register" type="button">Register Now</button>
        <button class="submit-button" type="submit">Login</button>
    </div>
</form>
