:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../assets/eternity.png");
    color: white;
}

.logo {
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 2.5em;
}

.numbers {
    color: aqua;
}

.agenda {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 30em;
    margin-right: 10em;
}

.title {
    font-weight: 700;
}

.login-block {
    margin-left: 2em;
    padding: 2em;
    border: 1px solid aqua;
    border-radius: 1em;
}

.line {
    height: 1px;
    width: 25%;
    background-color: white;
}

.forgot-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

.forgot-password {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2em;
}

button {
    width: 10em;
    padding: 1em;
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 1em;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

button:active {
    background-color: aqua;
    opacity: 0.5;
    color: black;
}

