<section class="up-bar">
    <app-logo></app-logo>

    <h2 class="agenda">
        Connections made easier
    </h2>
</section>

<form [formGroup]="loginForm" (ngSubmit)="authenticateUser()" class="login-block">
    <h1 class="title">Login</h1>

    <app-email-field formControlName="email"
                     [emailControl]="controlProvider.emailControl"
                     [wasSubmitClicked]="wasSubmitClicked"
    >
    </app-email-field>

    <app-password-field formControlName="password"
                        [passwordControl]="controlProvider.passwordControl"
                        [password]="'Enter your password'"
                        [wasSubmitClicked]="wasSubmitClicked"
    >
    </app-password-field>

    <div class="forgot-block">
        <div class="line"></div>

        <a class="forgot-password" href="">I forgot my password</a>

        <div class="line"></div>
    </div>

    <div class="buttons">
        <button type="button" routerLink="/auth/register" class="submit-button">Register Now</button>
        <button type="submit" class="submit-button">Login</button>
    </div>
</form>
