@import "../../../../styles/social-mixins";

:host {
    @include flex-center;
    @include page-size;
    background-image: url("../../../../assets/eternity.png");
    color: $main-font-color;
}

.agenda {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 30em;
    margin-right: 10em;
}

.title {
    font-weight: bold;
}

.login-block {
    margin-left: 2em;
    padding: 2em;
    border: $border-width solid $main-blue;
    border-radius: $border-radius;
}

.line {
    height: $border-width;
    width: 25%;
    background-color: $main-font-color;
}

.forgot-block {
    @include flex-center;
    margin-bottom: 1.5em;
    padding: 1em 0 0.5em 0;
}

.forgot-password {
    display: inline-block;
    text-decoration: none;
    color: $main-font-color;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.buttons {
    @include flex-center;
    gap: 2em;
}

.submit-button {
    width: 10em;
    padding: 1em;
    background-color: transparent;
    color: $main-font-color;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    font-family: 'Poppins', sans-serif;
}

.submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: $border-width rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

.submit-button:active {
    background-color: $main-blue;
    opacity: 0.5;
    color: black;
}

@media screen and (max-width: 870px) {
    .agenda {
        margin-right: 4em;
    }
}

@media screen and (max-width: 702px) {
    .agenda {
        margin-right: 1em;
    }

    .login-block {
        padding: 1em;
        margin-left: 1em;
    }
}

@media screen and (max-width: 584px) {
    :host {
        flex-direction: column;
    }

    .agenda {
        margin-right: 0;
    }

    .login-block {
        padding: 1em;
        margin-left: 0;
    }
}
