.password-container {
    display: grid;
    padding: 0.5em;
}

.password-label {
    padding-bottom: 0.3em;
}

.password-input {
    width: 20.5em;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 0.5em;
    color: white;
    padding: 1em;
}

.password-input:hover {
    border-color: aqua;
}

@media screen and (max-width: 762px) {
    .password-input {
        width: 18em;
    }
}

@media screen and (max-width: 600px) {
    .password-input {
        width: 14em;
    }
}

@media screen and (max-width: 492px) {
    .password-input {
        width: 11em;
    }
}

@media screen and (max-width: 403px) {
    .password-input {
        width: 13em;
    }
}

.wrong-password {
    border-color: red;
}

.correct-password {
    border-color: green;
}
