<div class="password-container">
    <label class="password-label" for="password-id">{{ password }}:</label>

    <input [class.correct-password]="passwordControl.valid && !passwordMismatch" [class.wrong-password]="passwordControl.invalid && (passwordControl.touched || wasSubmitClicked)
                                || passwordMismatch && passwordControl.touched" [formControl]="passwordControl" autocomplete="on" class="password-input"
           id="password-id"
           placeholder="your password"
           type="password"
    >
</div>
