<mat-form-field appearance="outline">
    <mat-label>{{ message }}</mat-label>

    <input autocomplete="current-password" [formControl]="password" [type]="isPasswordHidden ? 'password' : 'text'" required matInput>

    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>

    <button (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="isPasswordHidden" mat-icon-button
            matSuffix>
        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
