$main-blue: aqua;
$border-width: 2px;
$main-font-color: white;
$border-radius: 1em;

.dialog-container {
    border: $border-width aqua solid;
    background-color: black;
    color: white;
    padding: 2em;
}

.big-warning {
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
}

.submit-button {
    width: 8em;
    background-color: transparent;
    color: $main-font-color;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
}

.submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: $border-width rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

.submit-button:active {
    background-color: $main-blue;
    opacity: 0.5;
    color: black;
}

