@import "../../../styles/social-mixins";

main {
    @include page-view-size;
    color: $main-font-color;
    background-image: url("../../../assets/eternity.png");
}

.special {
    color: $main-blue;
    font-weight: bolder;
}

.logo-container {
    padding-top: 2em;
    padding-left: 2em;
}

h3 {
    @include font-bolding;
    font-size: 3em;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.content {
    @include flex-center;
    margin-top: 22em;
    height: $box-element-size;
    font-family: 'Poppins', sans-serif;
}

.message-container {
    margin-bottom: 5em;
    margin-right: 1em;
}

.error-number {
    @include font-bolding;
    font-size: 14em;
}

button {
    margin-top: 3em;
    padding: 2em;
    background-color: transparent;
    color: $main-font-color;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: $border-width rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

button:active {
    background-color: $main-blue;
    opacity: 0.5;
    color: black;
}

@media screen and (max-width: 948px) {
    .error-number {
        font-size: 10em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 552px) {
    .error-number {
        font-size: 7em;
    }

    h3 {
        font-size: 1.4em;
    }

    button {
        padding: 1.3em;
    }
}
