<main>
    <div class="logo-container">
        <h1>Social<span class="special">365</span></h1>
    </div>

    <section class="content">
        <div class="message-container">
            <h3>
                <span class="special">Oops!</span> You ran out of <span class="special">oxygen</span>
            </h3>

            <p>The page you are looking for is beyond this galaxy. Let's try to get you back...</p>

            <button routerLink="/auth/login">Return to login page</button>
        </div>

        <div class="error-number-container">
            <span class="error-number">4</span>
            <span class="error-number">0</span>
            <span class="error-number">4</span>
        </div>
    </section>
</main>
