$box-element-size:20em;
$main-font-color: white;
$main-blue: aqua;
$border-radius: 1em;
$border-width: 2px;

@mixin font-bolding {
    font-weight: 700;
}

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page-size {
    width: 100vw;
    height: 100vh;
}

main {
    @include page-size;
    color: $main-font-color;
    background-image: url("../../../assets/eternity.png");
}

.special {
    color: $main-blue;
    font-weight: bolder;
}

.logo-container {
    padding-top: 2em;
    padding-left: 2em;
}

h3 {
    @include font-bolding;
    font-size: 3em;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

.content {
    @include flexbox;
    margin-top: 22em;
    height: $box-element-size;
    font-family: 'Poppins', sans-serif;
}

.message-container {
    margin-bottom: 5em;
    margin-right: 1em;
}

.error-number {
    @include font-bolding;
    font-size: 14em;
}

button {
    margin-top: 3em;
    padding: 2em;
    background-color: transparent;
    color: $main-font-color;
    border: $border-width $main-font-color solid;
    border-radius: $border-radius;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: $border-width rgba(255, 255, 255, 0.3) solid;
    animation: 0.5s ease-in;
}

button:active {
    background-color: $main-blue;
    opacity: 0.5;
    color: black;
}
