<div class="comment-list-container">
    <div class="create-post-container">
        <app-user-icon [width]="50"></app-user-icon>

        <div class="separator">
            <app-text-input #commentInput [windowWidth]="'26em'"></app-text-input>

            <app-send-icon (click)="createNewComment()"></app-send-icon>
        </div>
    </div>

    <mat-divider></mat-divider>

    <app-comment *ngFor="let comment of comments"
                 [commentContent]="comment.commentContent"
                 [commentAuthor]="comment.commentAuthor"
                 [commentId]="comment.commentId"
                 [commentDate]="comment.commentDate"
    >
    </app-comment>
</div>
