.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

mat-form-field {
    margin-top: 1em;
    width: 18.5em;
    margin-bottom: 0.5em;
}
