@import "mixins";

@mixin positioning {
    width: 50em;
    margin-left: 40em;
}

.background {
    @include main-background;
}

.friends-container {
    @include content-field;
    margin-top: 3em;
    @include positioning;
}

app-social-navbar {
    @include position-sticky;
}

.search-container {
    margin-bottom: 1em;
}

.not-found {
    @include flex-center;
    font-weight: bold;
}

.load-more {
    @include content-field;
    @include flex-center;
    margin-top: 1em;
    margin-bottom: 2em;
    @include positioning;
}

.load-more:hover {
    background-color: $input-background-color;
}

.load-more:active {
    background-color: #565756;
}
