@import "mixins";

app-social-navbar {
    @include position-sticky;
    width: 100%;
}

.background {
    @include main-background;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.friends-container {
    @include content-field;
    margin-top: 3em;
    width: 50em;
}

.search-container {
    margin-bottom: 1em;
}

.not-found {
    @include flex-center;
    font-weight: bold;
}

.load-more {
    @include content-field;
    @include flex-center;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 50em;
}

.load-more:hover {
    background-color: $input-background-color;
}

.load-more:active {
    background-color: #565756;
}

@media screen and (max-width: 970px) {
    .load-more {
        width: 40em;
    }

    .friends-container {
        width: 40em;
    }
}

@media screen and (max-width: 790px) {
    .load-more {
        width: 30em;
    }

    .friends-container {
        width: 30em;
    }
}

@media screen and (max-width: 620px) {
    .load-more {
        width: 20em;
    }

    .friends-container {
        width: 23em;
    }
}
