@import "mixins";

.friends-container {
    @include content-field;
    padding: 2em;
}

mat-divider {
    margin-bottom: 1em;
}

.no-friends {
    @include flex-center;
}

@media screen and (max-width: 1518px) {
    .friends-container {
        width: 20em;
    }
}
