@import "variables";

@mixin page-size {
    width: 100%;
    height: 100%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-gap {
    display: flex;
    gap: 2.5em;
}

@mixin content-field {
    border: 1px #eeeee4 solid;
    background-color: $upper-navbar-color;
    border-radius: 1em;
    padding: 1em;
    width: 30em;
}

@mixin position-sticky {
    position: sticky;
    align-self: start;
}

@mixin navbar-background {
    background-color: $upper-navbar-color;
}

@mixin grid-three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@mixin input-background-color {
    background-color: $input-background-color;
}

@mixin border-radius-transition {
    border-radius: 1.3em;
    transition: border-radius 0.3s ease-in-out;
}

@mixin font-bolding {
    font-weight: 700;
}

@mixin page-view-size {
    width: 100vw;
    height: 100vh;
}

@mixin main-background {
    background-color: $main-background-color;
    //position: fixed;
    color: white;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
