$main-blue: aqua;
$border-width: 2px;
$main-font-color: white;
$border-radius: 1em;
$upper-navbar-color: #191819;
$input-background-color: #2c2d2c;
$main-background-color: #0a0b0a;

$box-element-size: 20em;
