<section class="up-bar">
    <h1 class="logo">
        Social<span>365</span>
    </h1>

    <h2 class="agenda">
        Vestibulum risus lorem, vehicula tristique lacus vitae, malesuada malesuada metus.
    </h2>
</section>

<section>
    <h1>Login</h1>

    <app-login-field></app-login-field>

    <app-password-field></app-password-field>

    <div>
        <a href="">I forgot my password</a>
    </div>

    <button mat-raised-button>Create new account</button>
</section>

<router-outlet></router-outlet>
